* {
  margin: 0;
  padding: 0;
  /* margin: 0 auto; */
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.z-10 {
  z-index: 10;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}
.relative {
  position: relative;
}
.h-120px {
  height: 120px;
}
.mt-2 {
  margin-top: 2px;
}
.bg-white {
  background-color: #fff;
}
.w-full {
  width: 100%;
}
.h-120px {
  height: 120px;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.border-gray-100 {
  border-color: #d1d5db;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.h-77px {
  height: 77px;
}
.justify-end {
  justify-content:end;
}
.isolate {
  isolation: isolate;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.min-w-0 {
  min-width: 0;
}
.list-none {
  list-style-type: none;
  padding: left 0;
}
.h-70px {
  height: 70px;
}
.max-w-1200px {
  max-width: 1200px;
}
.no-outline {
  outline: none;
  border: none;
  box-shadow: none;
}
.max-w-1920px {
  max-width: 1920px;
}
.h-full {
  height: 100%;
}
.h-600px {
  height: 600px;
}
.bg-3d607d {
  background-color: #3d607d;
}
.z-100 {
  z-index: 100;
}
.text-color-fff {
  color: #fff;
}
.bg-998975 {
  background-color: #998975;
}
.gap-8px {
  gap: 8px;
}
.margin-auto{
  margin:0 auto;
}
.w-180px {
  width: 180px;
}
.h-44px {
  height: 44px;
}
.inline-flex {
  display: inline-flex;
}
.left-1\2 {
  left: 50%;
}
.absolute {
  position: absolute;
}
.text-base {
  font-size: 16px;
}
.font-medium {
  font-weight: 500;
}
.rounded-md {
  border-radius: 8px;
}
.object-cover {
  object-fit: cover;
}
.flex-1 {
  flex: 1 1 0%;
}
.block {
  display: block;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.no-underline {
  text-decoration: none;
}
.-translate-x-1\2 {
  transform: translateX(-50%);
}
.bg-aa9a86 {
  background-color: #aa9a86;
}
.transition-color {
  transition: color 0.3s ease;
}
.top-1\2 {
  top: 50%;
}
.z-50 {
  z-index: 50;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 180px;
  height: 44px;
  gap: 8px;
  padding: 8px 12px;
  background-color: #998975;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
}
.btn2 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 300px;
  height: 44px;
  gap: 8px;
  padding: 8px 12px;
  background-color: #998975;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 8px;
  text-decoration: none;
}
.py-44px {
  padding-top: 44px;
  padding-bottom: 44px;}
.bg-998975 {
  background-color: #998975;}
.aos-init {
  opacity: 0;}
.aos-animate {
  opacity: 1;}
.text-center {
  text-align: center;}
.text-sizelg {
  font-size: 24px;}
.mb-7 {
  margin-bottom: 7px;}
.text-sm {
  font-size: 14px;}
.whitespace-pre-wrap {
  white-space: pre-wrap;}
.pt-55px {
  padding-top: 55px;}
.mb-100px {
  margin-bottom: 100px;}
.mb-55px {
  margin-bottom: 55px;}
.pt-120px {
  padding-top: 120px;}
.pb-50px {
  padding-bottom: 50px;}
.text-left {
  text-align: left;}
.px-45px {
  padding-left: 45px;
  padding-right: 45px;}
.py-55px {
  padding-top: 55px;
  padding-bottom: 55px;}
.text-size-44px {
  font-size: 44px;}
.w-300px {
  width: 300px;}
.content {
  max-width: 1200px;
  margin-inline: auto;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.z-1 {
  z-index: 1;}
.top-0 {
  top: 0;}
.left-0 {
  left: 0;
}
img {
  height: auto;
  max-width: 100%;
}
.z-3 {
  z-index: 3;
}
.w-820px {
  width: 820px;
}
.margin-0 {
  margin: 0;
}
.mb-5px {
  margin-bottom: 5px;
}
.text-color-998975 {
  color: #998975;
}
.leading-6 {
  line-height: 1.5rem;
  --tw-leading: 1.5rem;
}
.max-w-600px {
  max-width: 600px;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.w-440px {
  width: 440px;
}
.pt-110px {
  padding-top: 110px;
}
.pr-75px {
  padding-right: 75px;
}
.pl-205px {
  padding-left: 205px;
}
.bottom-45px {
  bottom: 45px;
}
.z-4 {
  z-index: 4;
}
.h-460px {
  height: 460px;
}
.z-0 {
  z-index: 0;
}
.max-w-960px {
  max-width: 960px;
}
.mb-40px {
  margin-bottom: 40px;
}
.pt-180px {
  padding-top: 180px;
}
.pb-200px {
  padding-bottom: 200px;
}
.h-650px {
  height: 650px;
}
.w-650px {
  width: 650px;
}
.z-2 {
  z-index: 2;
}
.text-primary {
  color: #3d607d;
}
.ahcoa-h {
  color: #998975;
  font-size: 22px;
  margin-bottom: 24px;
}
.-translate-x-42\% {
  --tw-translate-x: -42%;
}
.w-400px {
  width: 400px;
}
.top-90px {
  top: 90px;
}
.bottom-120px {
  bottom: 120px;
}
.top-37 {
  top: 37%;
}
.-translate-y-90\% {
  --tw-translate-y: -90%;
  translate: var(--tw-translate-x) var(--tw-translate-y);
}
.left-35{
  left:35%;
}
.otherEvents {
  padding-top: 80px;
  padding-bottom: 150px;
}
.flex-warp {
  flex-wrap: wrap;
}
.upcoming {
  font-size: 30px;
  line-height: 1.2;
}
.mb-70px {
  margin-bottom: 70px;
}
.btn3{
  padding-top:8px;
  padding-bottom:8px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: not-allowed;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  gap: 4px;
  display: inline-flex;
  align-items: center;
  border:none;
  background-color: #fff;
  top: 0;
  right: 0;
  position: absolute;
}
.gap-20px {
  gap: 20px;
}
.event{
  padding-bottom: 20px;
  border-color: #ececec;
  border-bottom-style: solid;
  border: bottom width 1px;
  gap: 40px;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}
.img{
  aspect-ratio: 2/1;
  width: 240px;
  overflow: hidden;
  position: relative;
}
.data{
  font-size: 12px;
  color: #998975;
}
.flex-1{
  flex: 1;
}
.gap-4px{
  gap: 4px;
}
.title{
  color: #222;
  font-size: 18px;
  line-height: 1.55556;
}
.items-end{
  align-items:flex-end;
}
.btn4{
  background-color: #fff;
  cursor: not-allowed;
  text-transform: uppercase;
  color: #998975;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333;
  padding-block: 4px;
  padding-inline: 8px;
  border-radius: 6px;
  gap: 4px;
  display: inline-flex;
  align-items: center;
  border: none;
}
.footbox{
  width: 100%;
  padding-bottom: 30px;
  padding-top: 70px;
  background-color: #333;
}
.footp{
  text-align: center;
  font-size: 14px;
  color: white;
}
.foot{
  margin-bottom: 100px;
  color: white;
}
.items-stretch{
  align-items: stretch;
}
.line{
  width: 1px;
  background-color: #464646;
}
.farmbox{
  width: 256px;
  gap: 10px;
}
.farm{
  border-style: solid;
  border-width: 0;
  border-radius: 6px;
  appearance: none;
  height: 44px;
  background-color: white;
  padding-inline: 10px;
  padding-block: 6px;
  padding-inline-start: 36px;
  line-height: 1.42857;
  font-size: 14px;
  color: #0f172b;
}
.btn5{
  bottom: 20%;
  left: 50%;
  color: #fff;
  height: 44px;
  gap: 8px;
  padding: 8px 12px;
  background-color: #998975;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 8px;
  text-decoration: none;
}
.mb-5{
  margin-bottom: 20px;
}
.gap-4{
  gap: 4px;
}
.text-nowrap{
  text-wrap: nowrap;
}
.a{
  color: white;
  text-decoration: none;
}
.mt-2{
  margin-top: 2px;
}