* {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.z-10 {
  z-index: 10;
}
.grid {
  display: grid;
}
.items-center {
  align-items: center;
}
.relative {
  position: relative;
}
.h-120px {
  height: 120px;
}
.mt-2 {
  margin-top: 2px;
}
.bg-white {
  background-color: #fff;
}
.w-full {
  width: 100%;
}
.h-120px {
  height: 120px;
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.border-gray-100 {
  border-color: #d1d5db;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.h-77px {
  height: 77px;
}
.justify-end {
  justify-content: flex-end;
}
.isolate {
  isolation: isolate;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.min-w-0 {
  min-width: 0;
}
.list-none {
  list-style-type: none;
  padding: left 0;
}
.h-70px {
  height: 70px;
}
.max-w-1200px {
  max-width: 1200px;
}
.no-outline {
  outline: none;
  border: none;
  box-shadow: none;
}
.max-w-1920px {
  max-width: 1920px;
}.h-full {
  height: 100%;
}
.h-600px {
  height: 600px;
}
.bg-3d607d {
  background-color: #3d607d;
}
.z-100 {
  z-index: 100;
}
.text-color-fff {
  color: #fff;
}
.bg-998975 {
  background-color: #998975;
}
.gap-8px {
  gap: 8px;
}
.w-180px {
  width: 180px;
}
.h-44px {
  height: 44px;
}
.inline-flex {
  display: inline-flex;
}
.left-1\2{
  left: 50%;
}
.absolute {
  position: absolute;
}
.text-base {
  font-size: 16px;  
}
.font-medium {
  font-weight: 500;
}
.rounded-md {
  border-radius: 8px;
}
.object-cover {
  object-fit: cover;
}
.flex-1 {
  flex: 1 1 0%;
}
.block {
  display: block;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.no-underline {
  text-decoration: none;
}
.-translate-x-1\2 {
  transform: translateX(-50%);
}
.bg-aa9a86{
  background-color: #aa9a86;
}
.transition-color {
  transition: color 0.3s ease;
}
.top-1\2 {
  top: 50%;
}
.z-50 {
  z-index: 50;
}
.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.btn{
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  width: 180px;
  height: 44px;
  gap: 8px;
  padding: 8px 12px;
  background-color: #998975;
  display: inline-flex;
  justify-content:center;
  align-items: center;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
}
.py-44px {
  padding-top: 44px;
  padding-bottom: 44px;
}
.bg-998975 {
  background-color: #998975;
}
.aos-init {
  opacity: 0;
}
.aos-animate {
  opacity: 1;
}
.text-center {
  text-align: center;
}
.text-sizelg {
  font-size: 24px;
}
.mb-7 {
  margin-bottom: 7px;
}
.text-sm {
  font-size: 14px;
}
.whitespace-pre-wrap {
  white-space: pre-wrap;
}
.pt-55px {
  padding-top: 55px;
}
.mb-100px {
  margin-bottom: 100px;
}
.mb-55px {
  margin-bottom: 55px;
}
.pt-120px {
  padding-top: 120px;
}
.pb-50px {
  padding-bottom: 50px;
}
.text-left {
  text-align: left;
}
.px-45px {
  padding-left: 45px;
  padding-right: 45px;
}
.py-55px {
  padding-top: 55px;
  padding-bottom: 55px;
}
